<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291060682391-scap14aedn3j92at1s2jb8ekgpd5i61s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291060682391-scap14aedn3j92at1s2jb8ekgpd5i61s</string>
	<key>API_KEY</key>
	<string>AIzaSyCchthq_JXAeIjNNwWfRoWGawdXx6wFq6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>291060682391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dylan.IOS-FinalProject</string>
	<key>PROJECT_ID</key>
	<string>iosfinalproject-dff7f</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfinalproject-dff7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291060682391:ios:083ae9ae31de3957c5e3d2</string>
</dict>
</plist>